<!--_meta 作为公共模版分离出去-->
<include file="Common/meta" /> 
<!--/meta 作为公共模版分离出去-->

<title>Machine后台</title>

</head>
<body>
<!--头部-->
<include file="Common/header" />
<!--头部-->

<!--_menu 作为公共模版分离出去-->
<include file="Common/menu" />
<!--/_menu 作为公共模版分离出去-->

<section class="Hui-article-box">
	<!-- <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="__CONTROLLER__/index" class="maincolor">首页</a> 
		<span class="c-999 en">&gt;</span>
		<span class="c-666">我的桌面</span> 
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	 -->
	<div class="Hui-article">
		<article class="cl pd-20">
	
   <!-- 	<div style="width: 600px; height: 200px; margin: 0 auto">
    <div id="container-speed" style="width: 300px; height: 200px; float: left"></div>
    <div id="container-rpm" style="width: 300px; height: 200px; float: left"></div>
	</div>
 -->
			<!-- <p>登录次数：18 </p>
			<p>上次登录IP：222.35.131.79.1  上次登录时间：2014-6-14 11:19:55</p> -->
            <!-- <div id="container" style=""></div> -->
             <div id="container" style="min-width:400px;height:400px"></div>
<!--             <button id="large">放大</button>
			<button id="small">缩小</button> -->
			<div class="mt-20">
               	<table class="table table-border table-bordered table-bg table-sort">
				<thead>
					<tr>
						<th scope="col" colspan="9">统计列表</th>
					</tr>
					<tr class="text-c">
						<!-- <th>ID</th> -->
						<!-- <th>管理员</th> -->
						<th>日期</th>
						<th>机台运行游戏总次数</th>
						<th>抓取成功次数</th>
						<th>抓取失败次数</th>
						<th>每天的收入</th>
					</tr>
				</thead>
				<tbody>
					<volist name="equipment_all2" key="k" id="v">
					<tr class="text-c">
						<!-- <td>{{$v.id}}</td> -->
						<td>{{$v.statistics_date}}</td>
						<td>{{$v.run_count}}</td>
						<td>{{$v.success_number}}</td>
						<td>{{$v.fail_number}}</td>
						<td>{{$v.income_count}}</td>
					</tr>
					</volist>
				</tbody>
			</table>
            </div>
	<!-- <label>实时概况：</label> -->
        
      
        </div>
		
	
</article>
		<!-- <footer class="footer">
			<p>感谢jQuery、layer、laypage、Validform、UEditor、My97DatePicker、iconfont、Datatables、WebUploaded、icheck、highcharts、bootstrap-Switch<br> Copyright &copy;2015 H-ui.admin v3.0 All Rights Reserved.<br> 本后台系统由<a href="http://www.h-ui.net/" target="_blank" title="H-ui前端框架">H-ui前端框架</a>提供前端技术支持</p>
</footer> -->
</div>
</section>

<!--_footer 作为公共模版分离出去-->
<include file="Common/footer" />
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/Admin/lib/hcharts/Highcharts/5.0.6/js/highcharts.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/hcharts/Highcharts/5.0.6/js/modules/exporting.js"></script>
<!-- <script type="text/javascript" src="__PUBLIC__/Admin/lib/hcharts/Highcharts/5.0.6/js/themes/dark-unica.js"></script> -->
<script type="text/javascript" src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
<script type="text/javascript" src="https://img.hcharts.cn/highcharts/highcharts-more.js"></script>
<script type="text/javascript" src="https://img.hcharts.cn/highcharts/modules/solid-gauge.js"></script>
<script type="text/javascript" src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>

<script type="text/javascript">
// $(function () {
//     var chart = Highcharts.chart('container', {
//         chart: {
//             type: 'column'
//         },
//         title: {
//             text: '商户日统计'
//         },
//         subtitle: {
//             text: ''
//         },
//         xAxis: {
//             categories: {{$day}}
//         },
//         yAxis: {
//             labels: {
//                 x: -15
//             },
//             title: {
//                 text: '统计'
//             }
//         },
//         series: [{
//             name: '销售',
//             data: {{$count}}
//         }],
//         responsive: {
//             rules: [{
//                 condition: {
//                     maxWidth: 500
//                 },
//                 // Make the labels less space demanding on mobile
//                 chartOptions: {
//                     xAxis: {
//                         labels: {
//                             formatter: function () {
//                                 return this.value.replace('号', '')
//                             }
//                         }
//                     },
//                     yAxis: {
//                         labels: {
//                             align: 'left',
//                             x: 0,
//                             y: -2
//                         },
//                         title: {
//                             text: ''
//                         }
//                     }
//                 }
//             }]
//         }
//     });
//     $('#small').click(function () {
//         chart.setSize(400, 300);
//     });
//     $('#large').click(function () {
//         chart.setSize(800, 300);
//     });
// });
</script>
<script type="text/javascript">
 $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: '商户日统计'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: {{$day}}
         },
         yAxis: {
                title: {
                        text: '浮动对比'
                },
                labels: {
                        formatter: function () {
                                return this.value  + '次';
                        }
                }
        },
        tooltip: {
              pointFormat: '{series.name} 运行 <b>{point.y:,.0f}</b>次' 
        },
        plotOptions: {
            column: {
                pointPadding: 0.1,
                borderWidth: 0
            }
        },
        series: [{
            name: '运行',
            data: {{$run_count}}

        }, {
            name: '成功',
            data: {{$success_number}}
         },{
			name: '失败',
            data: {{$fail_number}}
        }]
    });


 
</script>

<!--/请在上方写此页面业务相关的脚本-->

<!--此乃百度统计代码，请自行删除-->


<!--/此乃百度统计代码，请自行删除-->
</body>
</html>