
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/layer/2.4/layer.js"></script>
 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/static/h-ui.admin/js/H-ui.admin.page.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$(function(){
        $('#Hui-msg').click(function(){
                $("#modal-demo").modal("show");

        });
        $('#modal-demo').on('show.bs.modal', function () {
                $.ajax({
                        url:"__MODULE__/Common/allMsg",
                        dataType:'json',
                        success:function(res) {
                           if(res.status==1001){
                                $('#modal-demo .modal-body ul').html(res.html);
                           }else{
                                $('#modal-demo .modal-body ul').html('暂无消息');
                           }
                                
                        }
                });
        });
	var getting = {
                url:'__MODULE__/Common/notReadMsg',
                dataType:'json',
                success:function(res) {
                	if(res.status==1001){
                                $('#Hui-msg').attr('data-content',res.msg);
                		if(res.count > 99){
                			$('#Hui-msg .badge').text('99+');
                		}else{
                			$('#Hui-msg .badge').text(res.count);
                		}
                                if(res.renew == 1){
                                        $('#Hui-msg').popover('show');
                                        setTimeout(function(){$('#Hui-msg').popover('hide')},7000);
                                }
                	}else{
                		$('#Hui-msg .badge').text('');
                                $('#Hui-msg').removeAttr('title');
                                $('#Hui-msg').attr('data-content','暂无新消息');
                	} 
                }
	};
        $.ajax(getting);
	//Ajax定时访问服务端，不断获取数据 ，10秒请求一次。
	window.setInterval(function(){$.ajax(getting)},10000);

       
});
</script>

